[include shell_command.cfg]
[include fluidd.cfg]
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
<<<<<<< HEAD
serial: /dev/serial/by-id/<your-mcu-id>

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000
=======
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E003C001850344D30353320-if00

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
>>>>>>> 3e7fa27 (Autocommit from 2023-03-29 20:35:41)
